/* YOUR CUSTOM STYLES */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -35%);
}
.navbar
{
	border:none;
	box-shadow:none;
}
